@*@using Aula1AspNetMvc.Models*@
@model Aula1AspNetMvc.Models.Cliente

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <p>@Model.Nome</p>
    <p>@Model.SobreNome</p>
    <p>@Model.DataCadastro</p>
</div>

@{ 
    //var cliente = ViewData["Cliente"] as Cliente;
    //var cliente = ViewBag.Cliente;
    <p><b>@ViewData["Cliente"]</b></p>
}

