<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <p>@TempData["erro"]</p>
        @{ 
            // Mantém o valor ainda acessivel mesmo que ele seja lido.
            //TempData.Keep("erro");
        }
    </hgroup>
</body>
</html>
